html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    cursor: default;
  }
  
  :root {
    --light: #ffffff;
    --lighta: #eee;
    --dark: #0A070B;
    --c1: #F22987;
    --c2:#F2C94C;
    --c3: #2f1f6a;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--c3);
    color: var(--light);
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(240deg, #2F1F6A 30%, #845280 50%, #DC267E 60%);
    background-image: conic-gradient(from 230deg at 73.47% 55.13%, #F67893 -16.88deg, #DC267E 12.75deg, #2F1F6A 106.88deg, #5C2258 191.25deg, #845280 283.13deg, #F67893 343.12deg, #DC267E 372.75deg);
    min-height: 100vh;
    background-blend-mode: normal, normal, normal, normal, screen, normal;
    background-attachment: fixed;
    background-position: 90% 103rem;
    background-size: 200% 250%;
  }
  
  body,
  button,
  input {
    font-family: 'Lato', sans-serif;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--light);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--c1);
    border: 2px solid var(--light);
  }

  .width1 {
    width: clamp(10rem, 85vw, 80rem);
    margin:0 auto;
  } 
  
  /* END OF GLOBAL STYLES */




/* HEADER & HAMBURGUER MENU */

  header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-weight: 100;
    font-size: clamp(0.8rem, 5vw, 1.1rem);
    margin-bottom: clamp(0.5rem, 2vw, 2rem);
} .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: clamp(5rem, 30vw, 10rem);
  } header nav {
    display: flex;
    flex-direction: column;
    width: 66%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: clamp(6rem, 35vw, 8rem) 2.2rem 1.5rem 1.5rem;
    text-align: center;
    gap: 0.7rem;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease, visibility 0.2s ease;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(0.4rem);
    transform: translateY(-0.4rem);
    border-radius: 0 0 0 0.6rem;
  } .showing_nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  } header nav a {
    padding: 0.8rem 0;
    background-color: rgb(14 12 24 / 90%);
    border-radius: 0.3rem;
    box-shadow: 0 0.3rem 0.6rem -0.6rem var(--c1a);
    color: var(--light);
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 7vw;
    font-weight: 400;
  } .hambt {
    width: clamp(2.5rem, 11vw, 3rem);
    height: clamp(2.5rem, 12vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
  } .hambt div {
    background-color: var(--light);
    transition: background-color 0.3s ease;
    height: clamp(0.25rem, 1.5vw, 0.33rem);
    border-radius: 1rem;
  } .header_cta {
    position: fixed;
    bottom: 0.9rem;
    left: 0.9rem;
    right: 0.9rem;
    text-align: center;
    padding: 1rem 3rem;
    background-color: rgb(201 53 121 / 75%);
    border-radius: 0.3rem;
    font-weight: 400;
    max-width: 20rem;
    margin: 0 auto;
    z-index: 8;
    backdrop-filter: blur(1rem);
    border: 1px solid #E68;
    box-shadow: 0 0.1rem var(--light);
  } .logo_a {
    width: clamp(10rem, 62vw, 16rem);
    display: flex;
    z-index: 2;
  }

  h1 {
    font-size: clamp(1.9rem, 10.5vw, 4rem);
    line-height: clamp(2.4rem, 13vw, 4.6rem);
    letter-spacing: 1px;
  } h2 {
    font-size: clamp(0.8rem, 4vw, 1.05rem);
    line-height: clamp(1.1rem, 6vw, 1.7rem);
    font-weight: 100;
    opacity: 0.6;
    font-weight: 200;
    letter-spacing: 0.5px;
    width: 95%;
    margin: clamp(0.4rem, 1vw, 1rem) 0 clamp(1rem, 4vw, 1.5rem) 0;
  }

  .intro_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0rem, 3vw, 4rem);
  } .intro_assets {
    width: clamp(14rem, 80vw, 40rem);
    height: clamp(14rem, 80vw, 40rem);
    position: relative;
    margin: 0 auto;
    z-index: -1;
  } .intro_assets img {
    position: absolute;
  }

  .intro_content {
    position:relative;
    z-index: 10;
  }
  
  .ellipsis1_asset {
    width: 95%;
    top: 10%;
    right: 0%;
    transform:translateY(1rem);
    animation:float2 24s ease infinite;
    transform-origin: bottom right;
  } .ring_asset {
    top: 64%;
    width: 72%;
    right: 0%;
    animation:floatrotate 12s ease infinite;
  } .ellipsis2_asset {
    width: 4rem;
    height: 4rem;
    top: 90%;
    right: 0%;
    animation:float2 12s ease infinite;
  } .ellipsis3_asset {
    width: 10rem;
    height: 10rem;
    top: 47%;
    right: 68%;
    filter: blur(1px);
    animation:float1 20s ease infinite reverse;
  } .ellipsis4_asset {
    width: 4rem;
    height: 4rem;
    right: 90%;
    top: 83%;
    filter: hue-rotate(7deg) blur(1px);
    transform:translateY(1rem);
    animation:float1 7s ease infinite;
  } .ellipsis5_asset {
    left: -160%;
    top: -30%;
    width: 100%;
    opacity: 0.3;
    filter: blur(2px);
    animation:float1 8s ease infinite;
  } .smartphones_asset {
    width: 83%;
    right: 20%;
    animation: float1 10s 1s ease infinite;
    transform: translateY(1rem);
    top: 2%;
  }

  @keyframes float1 {
    0% {
      transform:translateY(1rem);
    } 50% {
      transform:translateY(0rem);
    } 100% {
      transform:translateY(1rem);
    }
  } @keyframes float2 {
    0% {
      transform:translateY(-1rem) scale(1);
    } 50% {
      transform:translateY(0rem) scale(1.06);
    } 100% {
      transform:translateY(-1rem) scale(1);
    }
  }  @keyframes floatrotate {
    0% {
      transform:rotate(0deg) translateY(0rem);
    } 25% {
      transform:rotate(3deg) translateY(-0.1rem);
    } 75% {
      transform:rotate(-3deg) translateY(-0.2rem);
    } 100% {
      transform:rotate(0deg) translateY(0rem);
    }
  }

  .highlight1 {
    color: var(--c2);
    font-weight: 600;
    font-size: clamp(0.6rem, 3.6vw, 1rem);
    display: flex;
    gap: clamp(0.1rem, 2vw, 0.3rem);
    align-items: center;
    margin-bottom: clamp(0.6rem, 2vw, 1.2rem);
  } .highlight1 img {
    width: clamp(0.6rem, 3vw, 1rem);
  }

  .intro_cta_ctnr {
    display: flex;
    gap: clamp(1rem, 5vw, 1.4rem);
    margin-bottom: 2rem;
    align-items: center;
  } .intro_cta_ctnr a {
    font-size: clamp(0.8rem, 5vw, 1.1rem);
    text-align: center;
  } .intro_cta_ctnr a:first-child {
    background: var(--c1);
    padding: clamp(0.6rem, 4vw, 1.2rem) clamp(1.1rem, calc(10vw - 1rem), 2.3rem);
    border-radius: 10rem;
    transition: background-color 0.3s ease;
  }.intro_cta_ctnr a:first-child:hover {
    transition: background-color 0.05s ease;
    background: #ff439b;
  }






























@media (min-width:1100px), (min-width:800px) and (min-height:300px) {

  body {
    background-image: linear-gradient(140deg, #2F1F6A 40%, #845280 70%, #DC267E 90%);
    background-image: conic-gradient(from 140deg at 73.47% 55.13%, #F67893 -16.88deg, #DC267E 12.75deg, #2F1F6A 106.88deg, #5C2258 191.25deg, #845280 283.13deg, #F67893 343.12deg, #DC267E 372.75deg);
    background-position: 0;
    background-size: cover;
  }


  header {
    align-items: center;
  } header nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    opacity: 1;
    visibility: visible;
    transform: unset;
    background-color: transparent;
    padding: unset;
    position: unset;
    box-shadow: none;
    gap: 0.4rem;
    width: unset;
    margin: 0;
    backdrop-filter: none;
    border-radius: unset;
  } header nav a {
    color: var(--darkb);
    padding: 0.8rem clamp(0.2rem, calc(4.5vw - 2.5rem), 2rem);
    border: none;
    width: unset;
    transition: background-color 0.6s ease;
    background-color: transparent;
    box-shadow: unset;
  } header nav a:hover, .header_cta:hover {
    transition: background-color 0s ease;
    background-color: rgba(255,255,255,0.1);
  } .hambt {
    display: none;
  } .header_cta {
    position: inherit;
    padding: 0.8rem 2vw;
    background-color: transparent;
    transition: background-color 0.6s ease;
    margin: unset;
    border:none;
    box-shadow: unset;
    backdrop-filter: unset;
  }


  .intro_sec {
    flex-direction: row;
  } .intro_assets {
    width: clamp(25rem, calc(50vw - 8rem), 38rem);
    height: clamp(25rem, calc(50vw - 8rem), 38rem);
    margin: 0;
    top: calc(2.3rem - 7vw);
  }

  

  h1 {
    font-size: clamp(3rem, 5vw, 4.5rem);
    line-height: clamp(3.8rem, 5.9vw, 5.1rem);
    max-width: clamp(29rem, 40vw, 35rem);
  } h2 {
    max-width: clamp(29rem, 40vw, 35rem);
  }
}























  @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  }


